@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 257 32% 97%;
    --foreground: 260 10% 4%;
    --card: 257 32% 97%;
    --card-foreground: 260 10% 4%;
    --popover: 257 32% 97%;
    --popover-foreground: 260 10% 4%;
    --primary: 257 70% 64%;
    --primary-foreground: 257 0% 100%;
    --secondary: 257 20% 94%;
    --secondary-foreground: 260 10% 4%;
    --muted: 257 20% 94%;
    --muted-foreground: 260 4% 45%;
    --accent: 188 64% 57%;
    --accent-foreground: 188 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 257 10% 88%;
    --input: 257 10% 88%;
    --ring: 257 70% 64%;
    --radius: 0.5rem;
    --chart-1: 257 70% 64%;
    --chart-2: 188 64% 57%;
    --chart-3: 257 50% 50%;
    --chart-4: 188 50% 45%;
    --chart-5: 257 85% 75%;
    --sidebar-background: 260 10% 10%;
    --sidebar-foreground: 257 10% 96%;
    --sidebar-primary: 257 70% 64%;
    --sidebar-primary-foreground: 257 0% 100%;
    --sidebar-accent: 260 10% 20%;
    --sidebar-accent-foreground: 257 0% 100%;
    --sidebar-border: 260 10% 20%;
    --sidebar-ring: 257 70% 64%;
  }
  .dark {
    --background: 260 10% 4%;
    --foreground: 257 10% 96%;
    --card: 260 10% 10%;
    --card-foreground: 257 10% 96%;
    --popover: 260 10% 4%;
    --popover-foreground: 257 10% 96%;
    --primary: 257 70% 64%;
    --primary-foreground: 257 0% 100%;
    --secondary: 260 10% 15%;
    --secondary-foreground: 257 10% 96%;
    --muted: 260 10% 15%;
    --muted-foreground: 257 5% 65%;
    --accent: 188 64% 57%;
    --accent-foreground: 188 100% 98%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 10% 20%;
    --input: 260 10% 20%;
    --ring: 257 70% 64%;
    --chart-1: 257 70% 64%;
    --chart-2: 188 64% 57%;
    --chart-3: 257 50% 50%;
    --chart-4: 188 50% 45%;
    --chart-5: 257 85% 75%;
    --sidebar-background: 260 10% 4%;
    --sidebar-foreground: 257 10% 96%;
    --sidebar-primary: 257 70% 64%;
    --sidebar-primary-foreground: 257 0% 100%;
    --sidebar-accent: 260 10% 15%;
    --sidebar-accent-foreground: 257 0% 100%;
    --sidebar-border: 260 10% 20%;
    --sidebar-ring: 257 70% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
